.wholeclass{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.firstclass{
    /* border: 1px solid blue; */
    width: 50%;
    height: 95%;
    border-color: rgba(0,0,0,0.3);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.infirst{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#006f1c;
}
.f1{
    font-size: 30px;
    color: white;
    font-family: var(--secondary-root);
}
.details{
    width: 100%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.details input{
    border-radius: 25px;
    width: 80%;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.but{
     /* border: 1px solid ; */
     width: 80px;
     height: 30px;
}
.but button{
    width: 100%;
    height: 100%;
    background-color: #006f1c;
    color: white;
}

@media screen and (min-width:320px) and (max-width:576px){
     .firstclass{
        width: 90%;
     }
     .nice{
        text-align: center;
     }
}

@media screen and (min-width:577px) and (max-width:768px){
    .firstclass{
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    .firstclass{
        width: 60%;
    }
}

@media screen and (min-width:993px) and (max-width:1200px){
    .firstclass{
        width: 50%;
    }
}