.wholeclass{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: rgb(112, 239, 121); */
}
.firstclass{
    /* border: 1px solid blue; */
    width: 30%;
    height: 50%;
    border-color: rgba(0,0,0,0.3);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
.infirst{
    /* border: 1px solid; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#006f1c;
}
.f1{
    font-size: 33px;
    color: white;
    font-family: var(--secondary-root);
}
.details{
    /* border: 1px solid green; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.details input{
    border-radius: 25px;
    width: 80%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.but{
     /* border: 1px solid ; */
     width: 80px;
     height: 30px;
}
.but button{
    width: 100%;
    height: 100%;
    background-color: #006f1c;
    color: white;
}
.msg{
    /* border: 1px solid; */
    width: 240px;
    height: 40px;
    border-radius: 25px;
    background-color: #006f1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-root);
    font-size: 14px;
}
.err{
    color: #006f1c;
    font-size: 18px;
    font-weight: 400;
    font-family: var();
}
@media screen and (min-width:320px) and (max-width:576px){
     .firstclass{
        width: 90%;
     }
}

@media screen and (min-width:577px) and (max-width:768px){
    .firstclass{
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    .firstclass{
        width: 60%;
    }
}

@media screen and (min-width:993px) and (max-width:1200px){
    .firstclass{
        width: 50%;
    }
}